

<%= link_to 'go back to welcome page', welcome_path %>
<h1>My Favorite TV Series</h1>

<h3>Ingrese una serie o película nueva</h3>

<%= form_with model: TvShow.new do |form| %>
    <%= form.text_field :name %><br>
    <%= form.text_area :summary %><br>
    <%= form.date_field :release_date %><br>
    <%= form.number_field :rating, step: '0.1' %><br>
    <%= form.submit  "Enviar" %>
<% end %>


<p>Welcome!!</p>




<%= link_to 'go to series list', tv_shows_path %>